.App {}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.CTplayers {
  position: absolute;
  top: 600px;
  left: 0px;

}

.Tplayers {
  position: absolute;
  text-align: right;
  top: 600px;
  left: 1700px;

}

.currentPlayer {
  position: absolute;
  top: 800px;
  left: 885px;
  background-color: rgba(0, 19, 127, 0.35);
}

.scoreboard {
  text-align: center;
  height: 15vh;
  background-color: rgba(0, 19, 127, 0.35);
  width: 30%;
  margin: auto;
  margin-top: 10px;
}

.Team_one {
  display: table-cell;
  float: left;
  width: 33%;
  align-items: center;
  height: 100%;
  opacity: 100%;
}

.Team_two {
  float: left;
  width: 33%;
  opacity: 100%;
}

#CT_score {
  display: block;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  font-size: 48px;
  opacity: 100%;
}

#T_score {
  display: block;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  font-size: 48px;
  opacity: 100%;
}

.scoreboard .Match_info {
  float: left;
  width: 33%;
  opacity: 100%;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}