@import '../assets/global.scss';

.App {
    background: $Background-opacity;
}

@font-face {
    font-family: Roboto-Bold;
    src: url(../assets/fonts/roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: GoBold;
    src: url(../assets/fonts/gobold/Gobold_Regular.otf);
}
