.App {
    background-color: transparent;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.no-game {
    font-family: Roboto-Bold;
    text-align: center;
    height: 15vh;
    color: black;
    width: 30%;
    margin: auto;
    margin-top: 10px;
}
