.playerBlock {
    text-align: center;
    background-color: rgba(0, 127, 97, 0); //transparent;
    width: 30%;
    height: 30%;
    margin: auto;
    margin-top: 40vh;
}

.playerName {
    text-align: center;
    background-color: rgba(46, 46, 46, 0.759);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
}

.playerInfo {
    text-align: center;
    background-color: rgba(46, 46, 46, 0.35);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
}
