.scoreboard {
    display: flex;
    font-family: GoBold;
    background-color: rgba(0, 19, 127, 0);
    //margin: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -10%);


}

.Match_info {
    text-align: center;
    align-self: center;
    margin: 0 auto;
    width: 40%;
    background-color: rgba(46, 46, 46, 0.859);

    #time {
        font-size: 36px;
        //margin: 0%;
    }

    #round {

        font-size: medium;
        //margin: 0%;
    }
}

.TeamLeft {
    text-align: center;
    align-self: center;
    margin: 0 auto;
    width: 100px;


    #CT_score {
        //display: block;
        //justify-content: center;
        //align-content: center;
        //flex-direction: row;
        font-size: 48px;
        background-color: rgb(0, 195, 255);
    }

}

.TeamRight {
    text-align: center;
    align-self: center;
    margin: 0 auto;
    width: 100px;

    #T_score {
        // display: block;
        // justify-content: center;
        // align-content: center;
        // flex-direction: row;
        font-size: 48px;
        background-color: rgb(255, 0, 0);
    }
}

.TeamLogo {
    height: 120px;
    width: 120px;
    position: relative;
}

.teamImage {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -30%);
    margin: auto;
}

.bombImage {
    max-height: 36px;
}
