@import "_variables";

.scoreboard {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    font-family: GoBold;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -10%);
    height: 10vh;
    top: 20px;
}

.Match_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-self: center;
    align-content: center;
    margin: 0 auto;
    min-width: 150px;
    height: 100%;
    background-color: $Background-solid;

    .bombImage {
        display: table-cell;
        width: 100%;
        height: 100%;
        text-align: center;

        svg {
            height: 48px;
            width: 48px;
            fill: white;
        }

    }

    #time {
        font-size: 36px;
        //margin: 0%;
    }

    #timelow {
        font-size: 36px;
        color: red;
        //margin: 0%;
    }

    #round {
        font-size: medium;
        margin-bottom: 5px;
        //margin: 0%;
    }
}

[class*="ct-score"] {
    display: table-cell;
    vertical-align: middle;
    font-size: 48px;
    background-color: $CT-color;
    height: 100%;
    margin: 0;
}

[class*="tscore"] {
    display: table-cell;
    vertical-align: middle;
    font-size: 48px;
    background-color: $T-color;
    height: 100%;
    margin: 0;
}

.TeamLeft {
    display: table;
    margin: 0 auto;
    text-align: center;
    height: 100%;
    min-width: 100px;
}

.TeamRight {
    display: table;
    text-align: center;
    margin: 0 auto;
    min-width: 100px;
    height: 100%;
}



.teamImage {
    min-width: 120px;
    text-align: center;
    position: relative;
    background-color: $Background-opacity;

    img {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        vertical-align: middle;
        height: 80%;
    }
}

.TeamName {
    transition: all 0.6s ease;
    text-align: left;
    display: table;
    width: 1000px;

    .teamLeftName {
        display: table-cell;
        vertical-align: middle;
        text-align: right;
        font-size: 36px;
        color: rgb(255, 255, 255);
    }

    .teamRightName {
        display: table-cell;
        vertical-align: middle;
        text-align: left;
        font-size: 36px;
        color: rgb(255, 255, 255);
    }
}

.BombTimer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    font-family: GoBold;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 275%);
    height: 2vh;
    width: 54vh;
    top: 20px;
    background-color: $Background-solid;
    padding: 1%;
    padding-left: 0;
    padding-right: 0;

    .Rchart {
        display: grid;
        grid-template-columns: repeat(400, .25fr);
        grid-row-gap: 0px;
        height: 100%;
        max-height: 100%;
        max-width: 99% !important;
        width: 100%;
        right: 0;
        //background-color: beige;
    }

    .BombRevchart {
        display: grid;
        grid-template-columns: repeat(400, .25fr);
        grid-row-gap: 0px;
        height: 100%;
        max-height: 100%;
        max-width: 99% !important;
        width: 100%;
        left: 0;
        /* Left Side Health Bars */
    }

    .Lchart {
        display: grid;
        grid-template-columns: repeat(100, 1fr);
        grid-row-gap: 0px;
        height: 100%;
        max-height: 100%;
        max-width: 99% !important;
        width: 100%;
        left: 0;
        /* Left Side Health Bars */
    }

    [class*="bomb"] {
        transition: all 0.6s ease;
        background-color: $T-color;
        grid-column-start: 1;
        grid-column-end: 401;
        max-height: 30px;
        /* More right side health bar stuff */
    }

    [class*="defuse"] {
        transition: all 0.6s ease;
        background-color: $CT-color;
        grid-column-start: 1;
        grid-column-end: 101;
        max-height: 30px;
        /* More right side health bar stuff */
    }

    $bombColumns: 401;
    $defuseColumns: 101;

    @mixin BombChartValue($data) {
        grid-column-end: $data + 1;
        /* Sets grid coordinates for health bar right side */
    }

    @mixin BombChartReverseValue($data) {
        $result: $bombColumns - $data;
        grid-column-start: $result;
        /*  Sets grid coordinates for the health bar left side */
    }

    @mixin DefuseChartValue($data) {
        $result: $defuseColumns - $data;
        grid-column-start: $result;
        /*  Sets grid coordinates for the health bar left side */
    }

    @for $i from 0 through $defuseColumns {
        .defuse-#{$i} {
            @include DefuseChartValue($i);
        }

        /* Basically on compile this creates like a hundred classes with name Tbar- and CTbar- + $i ,which is basically just a variable number in a for loop */
    }
    
    @for $i from 0 through $bombColumns {
        .bomb-#{$i} {
            @include BombChartValue($i);
        }

        .bombReverse-#{$i} {
            @include BombChartReverseValue($i);
        }

        /* Basically on compile this creates like a hundred classes with name Tbar- and CTbar- + $i ,which is basically just a variable number in a for loop */
    }

}