.scoreboard {
    font-family: GoBold;
    text-align: center;
    height: 25vh;
    background-color: rgba(0, 19, 127, 0.35);
    width: 30%;
    margin: auto;
    margin-top: 10px;
}

.Team_one {
    display: table-cell;
    float: left;
    width: 33%;
    align-items: center;
    height: 100%;
    opacity: 100%;
    padding-right: 5px;
}

.Match_info {
    float: left;
    width: 30%;
    opacity: 100%;
    height: 100%;
}

.Team_two {
    float: left;
    width: 33%;
    opacity: 100%;
    height: 100%;
    padding-left: 5px;
}

.TeamLogo {
    margin: 1vh;
    height: 8vh;
}

#CT_score {
    display: block;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-size: 48px;
    opacity: 100%;
}

#T_score {
    display: block;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-size: 48px;
    opacity: 100%;
}
