@import "_variables";

.scoreboard {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    font-family: GoBold;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -10%);
    height: 10vh;
    top: 20px;
}

.Match_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-self: center;
    align-content: center;
    margin: 0 auto;
    min-width: 150px;
    height: 100%;
    background-color: $Background-solid;

    .bombImage {
        margin-top: 5px;
        max-height: 48px;
    }

    #time {
        font-size: 36px;
        //margin: 0%;
    }

    #round {
        font-size: medium;
        margin-bottom: 5px;
        //margin: 0%;
    }
}

.TeamLeft {
    display: table;
    margin: 0 auto;
    text-align: center;
    height: 100%;
    min-width: 100px;

    #CT_score {
        display: table-cell;
        vertical-align: middle;
        font-size: 48px;
        background-color: $CT-color;
        height: 100%;
        margin: 0;
    }
}

.TeamRight {
    display: table;
    text-align: center;
    margin: 0 auto;
    min-width: 100px;
    height: 100%;

    #T_score {
        display: table-cell;
        vertical-align: middle;
        font-size: 48px;
        background-color: $T-color;
        height: 100%;
        margin: 0;
    }
}

.teamImage {
    min-width: 120px;
    text-align: center;
    position: relative;
    background-color: $Background-opacity;

    img {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        vertical-align: middle;
        height: 80%;
    }
}

.TeamName {
    transition: all 0.6s ease;
    text-align: center;
    display: table;
    width: 120px;

    p {
        display: table-cell;
        vertical-align: middle;
        font-size: 36px;
        color: black;
    }
}
