.CTplayers {
    width: 25%;
    position: absolute;
    background-color: transparent;
    text-align: left;
    opacity: 80%;
    bottom: 25px;
    left: 25px;
}

.Tplayers {
    width: 25%;
    background-color: transparent;
    opacity: 80%;
    position: absolute;
    text-align: right;
    bottom: 25px;
    right: 25px;
}

.TplayerBlock {
    margin-bottom: 5px;
    background-color: rgb(46, 46, 46);
}
.CTplayerBlock {
    margin-bottom: 5px;
    background-color: rgb(46, 46, 46);
}

.Tchart {
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    grid-row-gap: 0px;
    height: 20px;
    width: 100%;
    padding: 0px;
}

.CTchart {
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    grid-row-gap: 0px;
    height: 20px;
    width: 100%;
    padding: 0px;
}

[class*="Tbar"] {
    transition: all 0.6s ease;
    background-color: rgb(255, 0, 0);
    grid-column-start: 1;
    grid-column-end: 101;
}

[class*="CTbar"] {
    transition: all 0.6s ease;
    background-color: rgb(0, 195, 255);
    grid-column-start: 1;
    grid-column-end: 101;
}

.CTbar-D {
    transition: all 0.6s ease;
    background-color: rgb(0, 195, 255);
    grid-column-start: 1;
    grid-column-end: 101;
    opacity: 0%
}
.Tbar-D {
    transition: all 0.6s ease;
    background-color: rgb(255, 0, 0);
    grid-column-start: 1;
    grid-column-end: 101;
    opacity: 0%
}
$totalColumns: 101;

@mixin TchartValue($data) {
    $result: $totalColumns - $data;
    grid-column-start: $result;
}

@mixin CTchartValue($data) {
    grid-column-end: $data + 1;
}

@for $i from 0 through $totalColumns {
    .Tbar-#{$i} {
        @include TchartValue($i);
    }

    .CTbar-#{$i} {
        @include CTchartValue($i);
    }
}
