@import "_variables";

.CTplayers {
    font-family: Roboto-Bold;
    width: 20%;
    position: absolute;
    background-color: transparent;
    text-align: left;
    opacity: 80%;
    bottom: 25px;
    left: 25px;
    /* Players on the left side of the hud */
}

.Tplayers {
    font-family: Roboto-Bold;
    width: 20%;
    background-color: transparent;
    opacity: 80%;
    position: absolute;
    text-align: right;
    bottom: 25px;
    right: 25px;
    /* Players on the right side of the hud */
}

.TplayerBlock {
    margin-bottom: 5px;
    background-color: $Background-opacity;
    height: 60px;
    /* Height and margin of Right Side Block, honestly not sure what this is used for -zach */
}

.CTplayerBlock {
    margin-bottom: 5px;
    background-color: $Background-opacity;
    height: 60px;
    /* Height and  margin of Left Side Block*/
}

.CTArmor {
    display: table-cell;
    width: 20%;
    height: 60px;
    float: left;
    background-color: $Background-solid;
    text-align: center;

    p {
        margin-top: 5px;
        margin-bottom: 0;
        text-align: center;
    }
    /* used for displaying the armor icon on left side */
    svg {
        height: 30px;
        width: 30px;
        fill: white;
    }

    .skull {
        margin-top: 15px;
    }
}

#spec {
    background-color: #fbff006a;
    /* Player being currently viewed */
}

.CTplayerInfo {
    display: table-cell;
    position: relative;
    float: left;
    width: 80%;
    max-height: 30px;
    background-color: #00000062;
    /* Left side info, takes up most of the block except for the area reserved for armor and health */
}

.TArmor {
    display: table-cell;
    width: 20%;
    height: 60px;
    float: right;
    background-color: $Background-solid;
    text-align: center;

    p {
        margin-top: 5px;
        margin-bottom: 0;
        text-align: center;
    }

    svg {
        height: 30px;
        width: 30px;
        fill: white;
    }
    /* used for displaying armor icon for right side */
    .skull {
        margin-top: 15px;
    }
}

.TplayerInfo {
    display: table-cell;
    position: relative;
    background-color: #00000062;
    float: right;
    width: 80%;
    height: 30px;
    max-height: 30px;
    /* right side info, basically everything except health and armor */
}

.healthBarText {
    height: 100%;
    width: 100%;
    z-index: 10;
    position: absolute;
    top: 0;
    overflow: visible;

    .pLeft {
        margin: 0;
        max-height: 30px;
        overflow: visible;
        min-width: 150px;
        padding-top: 5px;
        padding-left: 9px;
    }
    /* K,D,A and ADR */
    .pRight {
        margin: 0;
        max-height: 30px;
        overflow: visible;
        min-width: 150px;
        padding-top: 5px;
        padding-right: 9px;
    }
}

.subTextLeft {
    height: 30px;
    max-height: 30px;
    padding-top: 35px;
    padding-left: 85px;
}

.subTextRight {
    height: 30px;
    max-height: 30px;
    padding-top: 35px;
    padding-right: 85px;
}

.Tchart {
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    grid-row-gap: 0px;
    height: 30px;
    max-height: 30px;
    width: 100%;
    padding: 0px;
    /* Right Side Health Bars */
}

.CTchart {
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    grid-row-gap: 0px;
    height: 30px;
    max-height: 30px;
    width: 100%;
    padding: 0px;
    /* Left Side Health Bars */
}

[class*="Tbar"] {
    transition: all 0.6s ease;
    background-color: $T-color;
    grid-column-start: 1;
    grid-column-end: 101;
    max-height: 30px;
    /* More right side health bar stuff */
}

[class*="CTbar"] {
    transition: all 0.6s ease;
    background-color: $CT-color;
    grid-column-start: 1;
    grid-column-end: 101;
    max-height: 30px;
    /* More left side health bar stuff*/
}

.CTbar-D {
    transition: all 0.6s ease;
    background-color: transparent;
    grid-column-start: 1;
    grid-column-end: 101;
    max-height: 30px;
    /* Health bar if dead & left side, doesn't do much except play a fading animation */
}

.Tbar-D {
    transition: all 0.6s ease;
    background-color: transparent;
    grid-column-start: 1;
    grid-column-end: 101;
    max-height: 30px;
    /* Health bar if dead & right side, doesn't do much except play a fading animation */
}

$totalColumns: 101;

@mixin TchartValue($data) {
    $result: $totalColumns - $data;
    grid-column-start: $result;
    /* Sets grid coordinates for health bar right side */
}

@mixin CTchartValue($data) {
    grid-column-end: $data + 1;
    /*  Sets grid coordinates for the health bar left side */
}

@for $i from 0 through $totalColumns {
    .Tbar-#{$i} {
        @include TchartValue($i);
    }

    .CTbar-#{$i} {
        @include CTchartValue($i);
    }
    /* Basically on compile this creates like a hundred classes with name Tbar- and CTbar- + $i ,which is basically just a variable number in a for loop */
}

.GunL {
    position: absolute;
    background-color: transparent;
    height: 30px;
    opacity: 100%;
    right: 0px;
    /* Left player primary weapon */
}
.GunLu {
    position: absolute;
    background-color: transparent;
    height: 30px;
    opacity: 45%;
    right: 0;
    fill: grey;
    /* Left player primary weapon unequipped */
}
.GunR {
    position: absolute;
    background-color: transparent;
    height: 30px;
    opacity: 100%;
    left: 0;
    transform: rotateY(180deg);
    /* Right player primary weapon  */
}
.GunRu {
    position: absolute;
    background-color: transparent;
    height: 30px;
    opacity: 45%;
    left: 0;
    transform: rotateY(180deg);
    /* Right player primary weapon unequipped */
}
.GunL2 {
    position: absolute;
    background-color: transparent;
    height: 30px;
    opacity: 40%;
    right: 0;
    top: 30px;
    /* Left secondary weapon  */
}

.GunR2 {
    position: absolute;
    background-color: transparent;
    height: 30px;
    opacity: 40%;
    top: 30px;
    left: 0;
    transform: rotateY(180deg);
    /* Right secondary weapon */
}
.GunL2e {
    position: absolute;
    background-color: transparent;
    height: 30px;
    opacity: 90%;
    right: 0;
    top: 30px;
    /* Left secondary weapon unequipped */
}

.GunR2e {
    position: absolute;
    background-color: transparent;
    height: 30px;
    opacity: 90%;
    top: 30px;
    left: 0;
    transform: rotateY(180deg);
    /* Right secondary weapon unequipped */
}
